<form action="/students/<%= @students.id %>" method="POST">

  <label for="first-name-field">First name:</label>
  <input id="first-name-field" type="text" name="first_name" value="<%= @students.first_name%>"/>

  <label for="second-name-field">Second Name:</label>
  <input id="second-name-field" type="text" name="second_name" value="<%= @students.second_name%>">

  <label for="house_select">Select a House:</label>
  <select id="house_select" name="house_id" value="<%= @students.house_id %>">
    <option value="Gryffindor"<%= 'selected' if @students.house_id == 'Gryffindor' %> >Gryffindor</option>
    <option value="Ravenclaw"<%= 'selected' if @students.house_id == 'Ravenclaw' %>>Ravenclaw</option>
    <option value="Hufflepuff"<%= 'selected' if @students.house_id == 'Hufflepuff' %>>Hufflepuff</option>
    <option value="Slytherin"<%= 'selected' if @students.house_id == 'Slytherin' %>>Slytherin</option>
  </select>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age" value="<%= @students.age%>"/>

  <input type="submit" value=" Update Details">
</form>
