<h1 style="text-align:center; margin-bottom: 80px;">Logo goes here!!</h1>

<div class="student-details">
  <p>Student ID: <%= @students.id %></p>
  <p>First Name: <%= @students.first_name %></p>
  <p>Second Name: <%= @students.second_name %></p>
  <p>House: <%= @students.find_house.name %></p>
  <p>Age: <%= @students.age %></p>
</div>

<br>

<form action="/students/<%= @students.id %>/edit" method="GET">
  <input type="submit" value="Edit Details">
</form>

<form action="/students/<%= @students.id %>/delete" method="post">
  <input type="Submit" value="Remove Student">
</form>
